{% extends "base.html" %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<img src="{% static 'images/aboutus.png' %}" style="width:100%">

<div class="jumbotron">
    <h1 align="center">VISION</h1>
    <p> To be at the cutting edge of solutions in hospital management system and to produce an efficient and effective solution that can facilitate hospitals in providing better patient care.</p>
    <h1 align="center">MISSION</h1>
    <p> Provide Quality, Comprehensive, Affordable Product and Excellent Support.</p>
</div>
{% endblock %}
